:root {
  --background-dark-grey: #2F303A;
  --grey-color: #757575;
  --blue-logo-color: #2196F3;
  --dark-logo-color: #000000;
  --white-color: #FFFFFF;
  --current-color-dark: #212121;
  --light-gray-backg: #F5F4FA;
  --footer-primary-color: rgba(255, 255, 255, 0.6);
}

/* Цвет текста WebStudio */
.logo {
  font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    text-decoration: none;
    letter-spacing: 0.03em;
  
    color: #2196F3;
}
.logo-accent {
  font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
  
    letter-spacing: 0.03em;
    color:#000000
}

 /* header-nav */

.header-link {
  font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
  
    color: #212121;
}
.header-link:hover,:focus {
  color: #2196F3;
}
.header-item .current {
  color: #2196F3;
}

ul {
  list-style: none;
}

.header-mail {
  font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
  
    color: #757575;
}
.header-mail:hover,:focus {
 color: #2196F3;
}
.header-phone {
  font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
  
    color: #757575;
}
.header-phone:hover,:focus {
  color: #2196F3;
}


/* section Hero */

.hero {
  background-color: #2F303A;
}
.hero-title {
font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */

  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #FFFFFF;
}

.hero-btn {

  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
 color: #FFFFFF;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.hero-btn:hover,
.hero-btn:focus {
background:#138cef;
}


/* section about */



.about-title {
font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
.about-item {
  font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
  
    letter-spacing: 0.03em;
  
    color: #757575;
}
.about,
.about-team {
  background: #E5E5E5;
}




.about-titlee {
  font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
  
    color: #212121;
}

/* section team */


.team {
  background: #F5F4FA;
}
.it-team {
  font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
  
    color: #212121;
}

.it {
  font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
  
    text-align: center;
    letter-spacing: 0.03em;
  
    color: #212121;
}

.profession {
  font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
  
    text-align: center;
    letter-spacing: 0.03em;
  
    color: #757575;
}


/* Footer */


footer{
  background-color: #2F303A;
  color: rgba(255, 255, 255, 0.6);
}
.logo .accent {
font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;
  color: #FFFFFF;
}
.address {
  font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
  
    letter-spacing: 0.03em;
  
    color: #FFFFFF;
}
.address-mail,
.address-phone {
  font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
  
    letter-spacing: 0.03em;
  
    color: rgba(255, 255, 255, 0.6);
}







/* portfolio button */
.all {
  font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
  
    text-align: center;
    letter-spacing: 0.03em;
  
    color: #212121;
  
    /* shadow-middle */
  
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.all:hover,:focus {
    background: #2196F3;
}
.button .current {
  color: #2196F3;
}
.web {
  font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
  
    text-align: center;
    letter-spacing: 0.03em;
  
    color: #212121;
    background: #F5F4FA;
     border-radius: 4px;
}
.web:hover,:focus {
    background: #2196F3;
}
.app {
  font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
  
    text-align: center;
    letter-spacing: 0.03em;
  
    color: #212121;
    background: #F5F4FA;
      border-radius: 4px;
}
.app:hover,:focus {
    background: #2196F3;
}
.dis {
  font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
  
    text-align: center;
    letter-spacing: 0.03em;
  
    color: #212121;
    background: #F5F4FA;
      border-radius: 4px;
}
.dis:hover,:focus {
    background: #2196F3;
}
.markt {
  font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
  
    text-align: center;
    letter-spacing: 0.03em;
  
    color: #212121;
    background: #F5F4FA;
border-radius: 4px;
}
.markt:hover,:focus {
    background: #2196F3;
}

/* наши возможности */
.Веб-сайт
.Дизайн
.Приложение
.Маркетинг
.Маркетинг {
  font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */
  
    letter-spacing: 0.03em;
  
    color: #757575;
}
.profession {
  font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    /* identical to box height, or 200% */
  
    letter-spacing: 0.06em;
  
    color: #212121;
}